@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Castoro:ital@0;1&display=swap");

.theme1 {
  background-color: #1565c0;
  color: white;

  .sectionTitle {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
  }
}

.theme2 {
  background-color: #101010;
  color: #ffffff;

  .sectionTitle {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
  }
}

.theme3 {
  background-color: #eb582c;
  color: #101010;

  .sectionTitle {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #101010;
  }
}
