// Classic theme
.theme1 {
  .orderStatusText {
    font-weight: bold;
    font-size: 1.7rem;
    color: #666666;
  }

  .placedAlert {
    justify-content: center !important;
    background-color: #bbe1bb;
    .MuiAlert-icon {
      display: none;
    }
    .MuiAlert-message {
      flex: 1;
      text-align: center;
    }
  }
  .cancelledAlert {
    justify-content: center !important;
    background-color: #505050;
    color: #ffffff;
    .MuiAlert-icon {
      display: none;
    }
    .MuiAlert-message {
      flex: 1;
      text-align: center;
    }
  }

  .pageBackground {
    background: linear-gradient(to bottom, #ffffff, #f7fafc);
    min-height: 100vh;
    background-attachment: fixed;
    color: #000000;
  }

  .section {
    background-color: #fefefe;
    color: #000000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .details {
    background-color: #fefefe;
    color: #000000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .button {
    font-size: 1.25rem;
    padding: 12px 24px;
    min-width: 200px;
    min-height: 50px;
    border-radius: 8px;
    background-color: #1976d2;
    color: #ffffff;
    font-weight: normal;

    &:hover {
      background-color: #1565c0;
      color: #ffffff;
    }
  }

  .trackingPageButton {
    font-size: 1rem;
    padding: 9px 20px;
    min-width: 160px;
    min-height: 40px;
    border-radius: 8px;
    background-color: #1976d2;
    color: #ffffff;
    font-weight: normal;

    &:hover {
      background-color: #1565c0;
      color: #ffffff;
    }
  }
}

// Dark theme
.theme2 {
  .orderStatusText {
    font-weight: bold;
    font-size: 1.7rem;
    color: #989898;
  }

  .placedAlert {
    justify-content: center !important;
    background-color: #485b35;
    color: #ffffff;
    .MuiAlert-icon {
      display: none;
    }
    .MuiAlert-message {
      flex: 1;
      text-align: center;
    }
  }
  .cancelledAlert {
    justify-content: center !important;
    background-color: #383838;
    color: #ffffff;
    .MuiAlert-icon {
      display: none;
    }
    .MuiAlert-message {
      flex: 1;
      text-align: center;
    }
  }

  .pageBackground {
    background: linear-gradient(to bottom, #121212, #1c1c1c);
    min-height: 100vh;
    background-attachment: fixed;
    // color: #9a9e9e;
    color: #e0e0e0;
  }

  .section {
    background-color: #282828;
    color: #e0e0e0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .details {
    background-color: #282828;
    color: #e0e0e0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  }

  .button {
    font-size: 1.25rem;
    padding: 12px 24px;
    min-width: 200px;
    min-height: 50px;
    border-radius: 8px;
    background-color: #313131;
    color: #f0f0f0;
    font-weight: normal;

    &:hover {
      background-color: #666666;
      color: #ffffff;
    }
  }

  .trackingPageButton {
    font-size: 1rem;
    padding: 9px 20px;
    min-width: 160px;
    min-height: 40px;
    border-radius: 8px;
    background-color: #313131;
    color: #f0f0f0;
    font-weight: normal;

    &:hover {
      background-color: #666666;
      color: #ffffff;
    }

    &:disabled {
      color: #787878;
    }
  }

  :global {
    .MuiDivider-root {
      background-color: #666666;
    }

    .MuiInputBase-input {
      background-color: #313131;
      color: #ffffff !important;
      border-radius: 4px;
    }

    .MuiInputBase-input::placeholder {
      color: #ffffff !important;
    }

    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #ffffff !important;
    }

    .MuiInputLabel-outlined.Mui-focused {
      color: #ffffff !important;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: #666666 !important;
    }

    .MuiInputLabel-outlined {
      color: #878787 !important;
    }

    .MuiFormHelperText-root.Mui-error {
      color: #faa0a0 !important;
    }
  }
}

// Modern theme
.theme3 {
  .orderStatusText {
    font-weight: bold;
    font-size: 1.7rem;
    color: #385234;
  }

  .placedAlert {
    justify-content: center !important;
    background-color: #bbe1bb;
    .MuiAlert-icon {
      display: none;
    }
    .MuiAlert-message {
      flex: 1;
      text-align: center;
    }
  }
  .cancelledAlert {
    justify-content: center !important;
    background-color: #505050;
    color: #ffffff;
    .MuiAlert-icon {
      display: none;
    }
    .MuiAlert-message {
      flex: 1;
      text-align: center;
    }
  }

  .pageBackground {
    background-color: #f2eae3;
    min-height: 100vh;
    background-attachment: fixed;
    color: #383838;
  }

  .section {
    background-color: #fbfbf7;
    color: #383838;
  }

  .details {
    background-color: #fbfbf7;
    color: #383838;
  }

  .button {
    font-size: 1.25rem;
    padding: 12px 24px;
    min-width: 200px;
    min-height: 50px;
    border-radius: 8px;
    background-color: #42613d;
    color: #ffffff;
    font-weight: normal;

    &:hover {
      background-color: #385234;
      color: #ffffff;
    }
  }

  .trackingPageButton {
    font-size: 1rem;
    padding: 9px 20px;
    min-width: 160px;
    min-height: 40px;
    border-radius: 8px;
    background-color: #42613d;
    color: #ffffff;
    font-weight: normal;

    &:hover {
      background-color: #385234;
      color: #ffffff;
    }
  }
}
