.theme1 {
  background-color: #1565c0;
  font-family: "Noto Serif Ethiopic", serif;
  color: white;
  padding: 20px 0;
  .sectionTitle {
    font-size: 25px;
    font-weight: 500;
    font-family: "Noto Serif Ethiopic", serif;
    color: #ffffff;
  }
}

.theme2 {
  background-color: #101010;
  font-family: "Noto Serif Ethiopic", serif;
  color: #ffffff;
  padding: 20px 0;
  font-weight: bold;
  margin-bottom: 10px;
  .sectionTitle {
    font-size: 25px;
    font-weight: 500;
    font-family: "Noto Serif Ethiopic", serif;
    color: #ffffff;
  }
}

.theme3 {
  background-color: #f24e23;
  font-family: "Lato", sans-serif;
  color: #101010;
  padding: 20px 0;
  font-weight: bold;
  margin-bottom: 10px;
  .sectionTitle {
    font-size: 25px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #101010;
  }
}
